#main-about {
  position: relative;
  padding-bottom: 90px;
  ._title {
    margin-bottom: 70px;
  }
  .about-item {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
    .item-number {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 125px;
      height: 125px;
      border-radius: 50%;
      border: 2px solid rgba(53,171,211,0.5);
      margin-right: -22px;
      span {
        font-size: 80px;
        font-family: "Gotham Pro Bold", sans-serif;
        color: #35ABD3;
      }
    }
    .item-text {
      font-size: 24px;
      line-height: 1.3;
      max-width: 490px;
      align-self: flex-end;
    }
    &._left-1 {
      .item-line {
        align-self: flex-end;
        margin-bottom: -20px;
        img {
          width: 156px;
        }
      }
      .item-number {
        margin-top: 21px;
      }
    }
    &._right-1 {
      justify-content: flex-end;
      margin-right: 35px;
      .item-line {
        margin-right: 30px;
        margin-top: 10px;
        img {
          width: 289px;
        }
      }
      .item-text {
        margin-bottom: 38px;
      }
    }
    &._left-2 {
      margin-left: 80px;
      margin-bottom: 80px;
      .item-text {
        margin-bottom: -45px;
      }
    }
    &._right-2 {
      justify-content: flex-end;
      .item-number {
        margin-top: 30px;
      }
      .item-text {
        margin-top: 111px;
      }
    }
  }
  .girl-left {
    position: absolute;
    bottom: 0;
    left: 0;
    filter: drop-shadow(0px 15px 19px rgba(19, 41, 75, 0.2));
  }
  .boy-right {
    position: absolute;
    top: 170px;
    right: 0;
    filter: drop-shadow(0px 8px 9px rgba(19, 41, 75, 0.15));
    transform: rotate(3.5deg);
  }
  ._circle-blur {
    left: -94px;
    bottom: -94px;
    &._right {
      top: 60px;
      right: -170px;
      bottom: auto;
      left: auto;
    }
  }
  .cloud-left {
    position: absolute;
    top: 340px;
    left: 0;
  }
  .msg-right {
    position: absolute;
    bottom: 300px;
    right: 0;
  }
}

#about-center {
  ._title {
    text-align: left;
  }
  .about-text {
    font-size: 16px;
    line-height: 24px;
    color: #5A6F8F;
    margin-bottom: 30px;
  }
  .about-founder {
    margin: auto;
    .founder-img {
      img {
        width: 250px;
        height: 250px;
        border-radius: 100%;
        object-fit: cover;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
    .founder-name {
      margin-top: 30px;
      font-size: 16px;
      font-family: "Gotham Pro Bold", sans-serif;
    }
    .founder-degree {
      font-size: 12px;
      font-family: "Gotham Pro Medium", sans-serif;
      color: $orange;
    }
  }
}
#about-stat {
  .stat-desc {
    font-size: 16px;
    line-height: 24px;
    color: #5A6F8F;
    text-align: center;
    margin-bottom: 60px;
  }
  .stat-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    padding: 35px;
    height: 280px;
    .item-upText {
      font-size: 24px;
      line-height: 38px;
      font-family: "Gotham Pro Medium", sans-serif;
    }
    .item-downText, .item-digit {
      font-size: 30px;
      line-height: 29px;
      font-family: "Gotham Pro Bold", sans-serif;
      color: #35ABD3;
    }
    .item-digit {
      font-size: 100px;
      line-height: 96px;
    }
  }
}
#about-faq {
  position: relative;
  .accordion {
    .card {
      border-radius: 10px;
      border: none;
      margin-bottom: 10px;
      .card-header {
        position: relative;
        background-color: #fff;
        border-radius: 10px;
        border-bottom: none;
        padding: 1.25rem;
        .btn {
          padding: 0;
          text-decoration: none;
          font-size: 24px;
          line-height: 38px;
          color: $dark-blue;
          text-transform: none;
          width: 93%;
          white-space: normal;
          .header-arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            right: 1.25rem;
            width: 50px;
            height: 50px;
            background: #FFFFFF;
            box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
            border-radius: 100%;
            i {
              color: $orange;
              font-size: 16px;
            }
          }
        }
        button[aria-expanded=true] i {
          transform: rotate(-90deg);
        }
      }
      .card-body {
        font-size: 16px;
        line-height: 24px;
        color: #5A6F8F;
        padding-bottom: 30px;
      }
    }
  }
  .ball-left {
    position: absolute;
    top: 90px;
    left: -50px;
    filter: drop-shadow(-10px 8px 19px rgba(19, 41, 75, 0.25));
  }
  ._circle-blur {
    top: -270px;
    left: -422px;
  }
  .ball-right {
    position: absolute;
    bottom: 55px;
    right: -100px;
    filter: drop-shadow(28px 31px 36px rgba(19, 41, 75, 0.1));
  }
}
@media (min-width: 992px) {
  #about-stat {
    .stat-desc {
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media (max-width: 1550px) {
  #main-about {
    .boy-right {
      width: 300px;
    }
    .girl-left {
      width: 280px;
    }
    .cloud-left {
      display: none;
    }
    ._circle-blur {
      width: 350px;
      height: 350px;
      left: 0;
      &._right {
        right: 0;
      }
    }
  }
}
@media (max-width: 1300px) {
  #main-about {
    .boy-right {
      width: 200px;
    }
    .girl-left {
      width: 180px;
    }
    ._circle-blur {
      display: none;
    }
    .about-item .item-text {
      font-size: 20px;
    }
  }
}
@media (max-width: 1199px) {
  #main-about {
    .about-item {
      margin-bottom: 40px !important;
      margin-right: 0 !important;
      margin-left: 0 !important;
      justify-content: flex-start !important;
      .item-line {
        margin: 0 !important;
      }
      .item-number {
        width: 100px;
        height: 100px;
        span {
          font-size: 50px;
        }
      }
      .item-text {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
      }
    }
  }
}
@media (max-width: 991px) {
  #main-about {
    .about-item {
      .item-text {
        font-size: 16px;
      }
    }
  }
}
@media (max-width: 767px) {
  #main-about {
    .about-item {
      .item-number {
        margin-right: 15px;
        align-self: center;
        margin-top: 0 !important;
      }
      .item-text {
        align-self: center;
        max-width: 100%;
        width: 70%;
      }
    }
  }
}