.cabinet-leftMenu {
  .menu-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 155px;
    border-radius: 100%;
    background-color: #E7E9EE;
    margin: auto;
    img {
      width: 100%;
      border-radius: 100%;
      object-fit: cover;
      filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.06));
      border: 8px solid #fff;
    }
    .btn {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 16px;
      font-family: "Gotham Pro Medium", sans-serif;
      line-height: 1.2;
      color: #5A6F8F;
    }
    .btn-secondary:not(:disabled):not(.disabled):active {
      background-color: transparent;
      border: none;
      color: #5A6F8F;
      &:focus {
        box-shadow: none;
      }
    }
    .btn-secondary:focus {
      box-shadow: none;
    }
  }
  .menu-mail {
    font-family: "Gotham Pro Bold", sans-serif;
    font-size: 24px;
    line-height: 1.2;
    text-align: center;
    margin-top: 30px;
    word-wrap: break-word;
  }
  .menu-item {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    li {
      margin-bottom: 25px;
      a {
        font-size: 14px;
        line-height: 1.2;
        color: #5A6F8F;
        svg {
          margin-right: 9px;
          vertical-align: sub;
        }
      }
      &:last-child {
        margin-bottom: 0;
        a {
          margin-left: 32px;
        }
      }
      &.active {
        a {
          color: $orange;
          svg path {
            fill: $orange;
          }
        }
      }
    }
  }
}
.cabinet {
  .cabinet-card {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    .card-back-btn {
      display: inline-block;
      color: $orange;
      margin-bottom: 5px;
      &:before {
        content: "<";
        display: inline-block;
        margin-right: 5px;
      }
    }
    ._title {
      text-align: left;
      border-bottom: 1px solid #ECECEC;
      padding-bottom: 40px;
      margin-bottom: 40px;
    }
    .desc-text {
      font-size: 16px;
      line-height: 1.2;
      color: #5A6F8F;
      margin-bottom: 30px;
    }
    .card-element {
      position: relative;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;
      background-color: #F9F9F9;
      .element-title {
        font-size: 18px;
        font-family: "Gotham Pro Bold", sans-serif;
        line-height: 1.3;
        margin-bottom: 5px;
      }
      .element-status {
        display: inline-block;
        font-size: 12px;
        font-family: "Gotham Pro Medium", sans-serif;
        padding: 5px 10px;
        color: #fff;
        border-radius: 16px;
        background-color: #CCCCCC;
        &.active {
          background-color: $orange;
        }
      }
      .category-icon {
        position: relative;
        top: 0;
        left: 0;
        margin-right: 20px;
      }
      .element-info {
        margin-top: 30px;
        .info-item {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          div:nth-child(2) {
            font-family: "Gotham Pro Medium", sans-serif;
          }
        }
        .text-right {
          a,span {
            font-size: 12px;
            color: $orange;
            font-family: "Gotham Pro Medium", sans-serif;
          }
        }
      }
      &.active {
        background-color: #FFF1DB;
      }
      .dropleft {
        position: absolute;
        top: 2px;
        right: 11px;
        .btn {
          background-color: transparent;
          border: none;
          outline: none;
          box-shadow: none;
          padding: 6px;
          &:before {
            content: none;
          }
        }
        .dropdown-menu {
          border: none;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          padding: 0;
          min-width: 145px;
          top: 16px !important;
          left: 4px !important;
          ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            text-align: center;
            li {
              a {
                font-size: 12px;
                display: block;
                padding: 10px 0;
                color: #5A6F8F;
              }
              &:first-child {
                background-color: #F9F9F9;
              }
              &:last-child {
                a {
                  color: #D45345;
                  padding: 12px 0;
                }
              }
            }
          }
        }
      }
    }
    .add-btn {
      display: flex;
      cursor: pointer;
      &:before {
        content: "+";
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: #5A6F8F;
        font-family: "Gotham Pro Medium", sans-serif;
        font-size: 16px;
        margin-right: 8px;
        color: #fff;
        border-radius: 100%;
      }
    }
    .cabinet-btn {
      margin-top: 40px;
      button {
        border: none;
        outline: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 10px 30px;
        &.save-btn {
          background-color: $orange;
          border: 1px solid $orange;
          color: #fff;
        }
        &.cancel-btn {
          background-color: transparent;
          margin-left: 30px;
          border: 1px solid transparent;
          color: $orange;
          &:hover {
            border-color: $orange;
          }
        }
      }
    }
    .add-element {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 221px;
      border: 1px dashed #5A6F8F;
      border-radius: 10px;
    }
    .card-table {
      width: 100%;
      overflow-x: auto;
      .table-head {
        display: flex;
        justify-content: space-between;
        color: #5A6F8F;
        font-family: "Gotham Pro Medium", sans-serif;
        padding: 20px 30px;
        min-width: 910px;
      }
      .table-body {
        border: 1px solid #ECECEC;
        border-radius: 4px;
        padding: 40px 30px;
        min-width: 910px;
        .table-body-row {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-family: "Gotham Pro Medium", sans-serif;
          padding-bottom: 20px;
          margin-bottom: 20px;
          border-bottom: 1px solid #ECECEC;
          word-wrap: break-word;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .table-head {
        &>div:last-child {
          text-align: right;
        }
      }
      .table-head, .table-body-row {
        &>div:nth-child(1) {
          width: 125px;
        }
        &>div:nth-child(2) {
          width: 160px;
        }
        &>div:nth-child(3) {
          width: 80px;
        }
        &>div:nth-child(4) {
          width: 100px;
        }
        &>div:nth-child(5) {
          width: 50px;
        }
        &>div:nth-child(6) {
          width: 70px;
        }
      }
    }
    .change-photo {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      margin: auto;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 100%;
        border: 5px solid #FFFFFF;
        filter: drop-shadow(0px 0px 12px rgba(0, 0, 0, 0.06));
      }
      form {
        margin-top: 20px;
        .btn {
          background-color: transparent;
          color: $orange;
          font-size: 16px;
          font-family: "Gotham Pro Medium", sans-serif;
          border: none;
          margin-left: -25px;
        }
      }
    }
    .settings-subtitle {
      font-size: 18px;
      font-family: "Gotham Pro Bold", sans-serif;
      margin-top: 70px;
    }
    .settings-form {
      .form-control {
        max-width: 100%;
      }
      input[type=text], input[type=email] {
        background: #f8f8f8 url(../img/cabinet/icons/pencil.svg) right .75rem center/18px 18px no-repeat!important;
      }
      input[disabled] {
        color: #8D9FBA;
      }
    }
    .change-password {
      display: flex;
      margin-top: 30px;
      align-items: center;
      .settings-subtitle {
        margin-top: 0;
      }
      button {
        background-color: transparent;
        border: none;
        outline: none;
        color: $orange;
        font-family: "Gotham Pro Medium", sans-serif;
        font-size: 16px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
    .change-pass-form {
      .form-group {
        position: relative;
        input {
          background-image: none !important;
          &::placeholder {
            color: #8D9FBA;
          }
        }
        .eye-icon {
          content: "";
          width: 18px;
          height: 18px;
          display: block;
          position: absolute;
          top: 12px;
          right: 12px;
          cursor: pointer;
          background-image: url(../img/cabinet/icons/eye.svg);
          &.hide {
            background-image: url(../img/cabinet/icons/eye-not.svg);
          }
        }
      }
      .show-new-fields {
        display: none;
        &.show {
          display: block;
        }
        .form-group:last-child {
          margin-bottom: 10px;
        }
        span {
          display: none;
          font-size: 12px;
          color: $orange;
          line-height: 1.3;
          &.show {
            display: block;
          }
        }
      }
      .cabinet-btn {
        display: none;
        &.show {
          display: block;
        }
      }
    }
  }
}
#cabinet-subs {
  .buy-btn {
    margin-top: 3px;
    a {
      padding: 11px 25px;
    }
  }
}
#cabinet-child {
  .cabinet-card .card-element .element-info .info-item div:nth-child(2) {
    color: #5A6F8F;
  }
}
#cabinet-subs-buy {
  .cabinet-card {
    background-color: transparent;
    .card-table {
      .table-body {
        background-color: #fff;
        border: none;
        border-radius: 10px;
        .del-cart-item {
          cursor: pointer;
        }
      }
      .table-head, .table-body-row {
        align-items: baseline;
        &>div:nth-child(1) {
          width: 20px;
        }
        &>div:nth-child(2) {
          width: 260px;
        }
        &>div:nth-child(3) {
          width: 120px;
        }
        &>div:nth-child(4) {
          width: 200px;
        }
        &>div:nth-child(5) {
          width: 140px;
        }
        &>div:nth-child(6) {
          width: 130px;
        }
        p {
          margin-bottom: 5px;
          &.item-caption {
            display: none;
            font-size: 10px;
            line-height: 1.2;
            color: $orange;
            &.show {
              display: block;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        .form-control {
          font-size: 14px;
          border-radius: 15px;
          border: none;
          appearance: none;
          background: #F9F9F9 url(../img/cabinet/icons/select-icon-orange.svg) right .75rem center/8px 12px no-repeat !important;
          &:focus {
            box-shadow: 0 0 0 0.1rem rgba(73,80,87,0.15);
          }
        }
      }
    }
    .card-allPrice {
      background-color: #fff;
      border-radius: 10px;
      padding: 40px 30px 80px;
      margin-top: 24px;
      .allPrice-title {
        text-align: center;
        font-size: 24px;
        font-family: "Gotham Pro Bold", sans-serif;
        margin-bottom: 40px;
      }
      .allPrice-body {
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
      }
      .body-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        &>div {
          font-size: 16px;
          &:last-child {
            font-family: "Gotham Pro Medium", sans-serif;
          }
        }
        .pack-price {
          display: flex;
          align-items: center;
          .old-price {
            font-size: 12px;
            color: #8D9FBA;
            text-decoration: line-through;
            font-family: 'Gotham Pro', sans-serif;
            margin-right: 10px;
          }
          .new-price {
            color: $orange;
          }
        }
      }
      .allPrice-bottom {
        .body-item {
          margin-top: 30px;
          div:last-child {
            font-size: 24px;
            font-family: "Gotham Pro Bold", sans-serif;
          }
        }
      }
    }
    .final-buy-btn {
      a {
        display: block;
        width: 100%;
        margin-top: 24px;
        font-size: 24px;
        font-family: "Gotham Pro Medium", sans-serif;
        padding: 18px 0;
      }
    }
  }
}
.datepicker td, .datepicker th {
  width: 40px;
  height: 30px;
}
.datepicker-months td, .datepicker-years td, .datepicker-months th, .datepicker-years th {
  width: 67px;
  height: 45px;
}
@media (min-width: 992px) {
  .cabinet .cabinet-card .desc-text {
    width: 700px;
  }
}