#callToAction, #partners-callToAction {
  .wt-background-headerImg {
    background: url(../img/main/cta-bg.png) no-repeat 50% 50% / cover;
  }
  p.callTo-desc {
    text-align: center;
    color: $dark-blue;
    margin: 25px auto 40px;
    font-family: "Gotham Pro Medium", sans-serif;
    line-height: 21px;
  }
  .contact-form {
    .form-row {
      justify-content: center;
      input {
        width: 350px;
        height: 42px;
        border-radius: 5px;
        border: none;
      }
      button {
        border: 1px solid #35ABD3;
        padding: 1px 20px;
        border-radius: 6px;
        margin-left: 16px;
        background-color: transparent;
        color: #35ABD3;
        cursor: pointer;
        outline: none;
        &:hover {
          background-color: #35ABD3;
          color: #fff;
        }
      }
    }
  }
  #cta-ball {
    position: static !important;
    .cta-ball {
      position: absolute !important;
      top: -375px !important;
      right: 77px !important;
      left: auto !important;
      filter: drop-shadow(-10px 8px 19px rgba(19, 41, 75, 0.25));
    }
  }
  #cta-horse {
    position: static !important;
    .cta-horse {
      position: absolute !important;
      top: auto !important;
      bottom: -85px !important;
      right: 120px !important;
      left: auto !important;
      filter: drop-shadow(0px 11px 19px rgba(19, 41, 75, 0.25)) !important;
    }
  }
}
#callToAction {
  position: relative;
  padding-bottom: 45px;
}
.partners-pt {
  position: relative;
  padding-top: 45px;
  .call-moto {
    position: absolute;
    bottom: 0;
    right: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
}
#partners-callToAction {
  background-color: #FFC15D;
  padding-bottom: 45px;
  .contact-form .form-row button {
    border-color: #fff;
    color: #fff;
  }
}
@media (max-width: 1300px) {
  #callToAction #cta-horse .cta-horse {
    width: 170px;
    bottom: -74px!important;
    right: 10px!important;
  }
  #callToAction #cta-ball .cta-ball {
    width: 120px;
  }
}
@media (max-width: 991px) {
  #callToAction #cta-horse .cta-horse {
    width: 140px;
    bottom: -44px!important;
    right: 0!important;
  }
  #callToAction #cta-ball .cta-ball {
    width: 70px;
    top: -310px !important;
  }
}
@media (max-width: 767px) {
  #callToAction #cta-horse .cta-horse {
    display: none;
  }
  #callToAction #cta-ball .cta-ball {
    display: none;
  }
}
@media (min-width: 992px) {
  #callToAction, #partners-callToAction {
    ._title {
      max-width: 465px;
      margin: auto;
    }
    p.callTo-desc {
      max-width: 350px;
    }
  }
}