section#footer {
  background-color: $dark-blue;
  color: #fff;
  padding-bottom: 30px;
  .footer-title {
    font-family: "Gotham Pro Medium", sans-serif;
    margin-bottom: 20px;
  }
  .footer-social {
    display: flex;
    a {
      display: block;
      margin-right: 7px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  a.nav-link {
    font-size: 12px;
    color: #fff;
    padding: .2rem 0;
  }
  span {
    display: block;
    font-size: 12px;
    line-height: 24px;
    a {
      display: block;
      color: #fff;
      text-decoration: none;
    }
  }
  .copyright {
    font-size: 10px;
  }
}
@media (max-width: 767px) {
  section#footer a.nav-link {
    padding: .5rem 1rem;
  }
  section#footer .wt-border-top .text-right {
    text-align: left !important;
  }
}
