// fonts
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gotham/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro.woff') format('woff'),
  url('../fonts/gotham/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/gotham/GothamPro-Medium.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro-Medium.woff') format('woff'),
  url('../fonts/gotham/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/gotham/GothamPro-Bold.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro-Bold.woff') format('woff'),
  url('../fonts/gotham/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  @include gotham-font;
  background-color: #f9f9f9;
  color: $dark-blue;
}
body.js-no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: $dark-blue;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
._preloader {
  display: none;
}
._circle-blur {
  position: absolute;
  width: 582px;
  height: 582px;
  border-radius: 100%;
  background: linear-gradient(152.85deg, rgba(203, 226, 255, 0.8) 29.1%, rgba(220, 203, 255, 0.8) 87.49%);
  filter: blur(200px);
  z-index: -10;
}
.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 30px 0;
  .arrow-left {
    padding-right: 24px;
  }
  a {
    text-decoration: none;
    color: #5A6F8F;
    font-family: "Gotham Pro Medium", sans-serif;
    font-size: 12px;
  }
  .breadcrumb-item+.breadcrumb-item::before {
    content: "-";
    color: #5A6F8F;
  }
  .breadcrumb-item.active span {
    color: $orange;
    font-size: 12px;
  }
}
.all-btn {
  margin-top: 60px;
  text-align: center;
}
.wt-block-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  border-radius: inherit;
  .wt-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
._title {
  font-size: 40px;
  line-height: 1.2;
  color: $dark-blue;
  font-family: 'Gotham Pro Medium', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}
.title-btn {
  color: $orange;
  font-size: 24px;
  line-height: 23px;
  font-family: "Gotham Pro Medium", sans-serif;
  margin-left: 24px;
  &:hover {
    color: darken($orange, 10%);
  }
}
#suggest-block {
  ._title {
    text-align: left;
  }
  .col {
    flex-basis: 240px;
    flex-grow: initial;
  }
}
.team-block {
  position: relative;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  .block-img img {
    width: 100%;
    border-radius: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  .block-name {
    font-size: 16px;
    font-family: "Gotham Pro Bold",sans-serif;
    margin-top: 20px;
    line-height: 1.2;
  }
  .block-exp {
    color: $orange;
    margin-top: 5px;
  }
  .block-desc {
    margin-top: 12px;
    color: #5A6F8F;
    line-height: 18px;
    min-height: 53px;
  }
}
.category-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: $dark-blue;
  border-radius: 100%;
  img {
    width: 28px;
  }
}
.object-solo-block {
  position: relative;
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  .block-img img {
    border-radius: 10px;
  }
  .block-text {
    margin: 24px 150px 24px 50px;
    .main-text {
      font-size: 24px;
      line-height: 23px;
      font-family: "Gotham Pro Medium", sans-serif;
      margin-bottom: 24px;
    }
    .desc-text {
      font-size: 16px;
      line-height: 24px;
      color: #5A6F8F;
      ul {
        padding-left: 20px;
      }
    }
  }
}
.owl-carousel {
  .owl-item img {
    width: initial;
  }
  .owl-nav {
    display: block !important;
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.06);
      color: $orange;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      margin: 0;
      padding: 0;
      &:hover {
        background-color: #35abd3;
      }
    }
    .owl-prev {
      left: -25px;
    }
    .owl-next {
      right: -25px;
    }
  }
}
section {
  padding: 55px 0;
}

// Button Styles
.btn {
  line-height: 1.2;
  border-radius: 6px;
}

.wt-btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: white !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($orange, 7.5%) !important;
    border-color: darken($orange, 7.5%) !important;
    color: white !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}
.wt-btn-transparent {
  background-color: transparent;
  border-color: white;
  color: white !important;
  border-width: 1px;
  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary-200;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// Media queries
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 740px;
  }
  section {
    padding: 60px 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}