// Global styling for this template
@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gotham/GothamPro.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro.woff') format('woff'),
  url('../fonts/gotham/GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/gotham/GothamPro-Medium.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro-Medium.woff') format('woff'),
  url('../fonts/gotham/GothamPro-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham Pro Bold';
  src: url('../fonts/gotham/GothamPro-Bold.eot');
  src: local('Gotham Pro'), local('GothamPro'),
  url('../fonts/gotham/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/GothamPro-Bold.woff') format('woff'),
  url('../fonts/gotham/GothamPro-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 14px;
  overflow-x: hidden;
  @include gotham-font;
  background-color: #f9f9f9;
  color: $dark-blue;
;
}
body.js-no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

p {
  line-height: 1.75;
}

a {
  color: $gray-900;
  &:hover {
    color: lighten($gray-900, 10%);
  }
}
._preloader {
  display: none;
}
.all-btn {
  margin-top: 60px;
  text-align: center;
}
.wt-text-primary {
  color: $primary-200 !important;
}
.wt-block-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -2;
  border-radius: inherit;
  .wt-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
._title {
  font-size: 40px;
  line-height: 1.2;
  color: $dark-blue;
  font-family: 'Gotham Pro Medium', sans-serif;
  text-align: center;
  margin-bottom: 60px;
}
section {
  padding: 55px 0;
  h1.wt-section-heroTitle {
    font-size: 90px;
    line-height: 1.22;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.021em;
  }
  h2.wt-section-title {
    font-size: 34px;
    line-height: 1.18;
    font-weight: 700;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: -.021em;
  }
  p.wt-section-subtitle {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  h3.wt-section-heading {
    font-size: 26px;
    line-height: 1.31;
    font-weight: 700;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  p.wt-section-subheading {
    font-size: 22px;
    line-height: 1.36;
    font-weight: 400;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  p.wt-section-text {
    font-size: 16px;
    line-height: 1.56;
    width: 100%;
    -webkit-text-decoration: none;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 0;
  }
  p.wt-section-small-text {
    font-size: 12px;
    line-height: 1.67;
    width: 100%;
  }
}

// Button Styles
.btn {
  font-size: 14px;
  line-height: 1.2;
  border-radius: 6px;
  text-transform: uppercase;
  padding: 15px 50px;
}

.wt-btn-orange {
  background-color: $orange;
  border-color: $orange;
  color: white !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken($orange, 7.5%) !important;
    border-color: darken($orange, 7.5%) !important;
    color: white !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}
.wt-btn-white {
  background-color: white;
  border-color: white;
  color: $primary-200 !important;
  &:active,
  &:focus,
  &:hover {
    background-color: darken(white, 7.5%) !important;
    border-color: darken(white, 7.5%) !important;
    color: $primary-200 !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55,.5) !important;
  }
}
.wt-btn-transparent {
  background-color: transparent;
  border-color: white;
  color: white !important;
  border-width: 1px;
  &:active,
  &:focus,
  &:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
  }
  &:active,
  &:focus {
    box-shadow: none !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary-200;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// Media queries
@media (max-width: 767px) {
  section {
    padding: 40px 0;
  }
  section h1.wt-section-heroTitle {
    font-size: 40px;
  }
  section h2.wt-section-title {
    font-size: 26px;
  }
  section h3.wt-section-heading {
    font-size: 20px;
  }
  section p.wt-section-subheading {
    font-size: 18px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 740px;
  }
  section {
    padding: 60px 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}