// Styling for the masthead
section#masthead {
  #main-carousel {
    .item {
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
    .owl-nav {
      .owl-prev, .owl-next {
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
@media (max-width: 575px) {
  section#masthead .wt-block-intro .wt-intro-form {
    padding: 40px 25px 50px;
  }
}
@media (max-width: 767px) {
  section#masthead .wt-section-heroTitle {
    font-size: 40px;
  }
}
@media (min-width: 992px) {
  section#masthead .wt-block-intro {
    padding-top: 150px;
    padding-bottom: 170px;
  }
}
