#news, #news-all, #suggest-block {
  .news-item {
    .item-img {
      img {
        width: 100%;
        border-radius: 6px;
      }
    }
    .item-date {
      font-family: "Gotham Pro Medium", sans-serif;
      line-height: 21px;
      color: #5A6F8F;
      margin-top: 24px;
    }
    .item-title {
      font-family: "Gotham Pro Medium", sans-serif;
      font-size: 18px;
      line-height: 30px;
      margin-top: 11px;
      margin-bottom: 16px;
    }
    .item-action {
      display: flex;
      align-items: center;
      text-decoration: none;
      span {
        color: $orange;
        font-family: "Gotham Pro Medium", sans-serif;
        margin-right: 7px;
      }
    }
  }
}
#news-all, #news-solo {
  ._title {
    text-align: left;
  }
  .news-item {
    margin-bottom: 40px;
  }
}
#news-solo {
  .news-solo-block {
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    .object-solo-block {
      padding: 0;
      border-radius: 0;
      .block-text {
        margin-right: 50px;
      }
    }
    .block-images {
      margin-bottom: 30px;
      img {
        width: 100%;
        border-radius: 10px;
      }
    }
  }
}
#suggest-block {
  #news-carousel {
    .owl-nav {
      .owl-prev, .owl-next {
        top: 30%;
      }
    }
  }
}