#partners {
  .partners-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
#partners-main {
  position: relative;
  .main-center {
    text-align: center;
    font-size: 24px;
    font-family: "Gotham Pro Medium", sans-serif;
    line-height: 36px;
  }
  #partners-ball {
    position: static !important;
    .partners-ball {
      position: absolute !important;
      bottom: 0 !important;
      left: -50px !important;
      top: auto !important;
      filter: drop-shadow(28px 31px 36px rgba(19, 41, 75, 0.1));
    }
  }
  #chess-right {
    position: static !important;
    .chess-right {
      position: absolute !important;
      bottom: -250px !important;
      right: 0 !important;
      top: auto !important;
      left: auto !important;
    }
  }
  ._circle-blur {
    right: -300px;
    bottom: -250px;
  }
}
#partners-adv {
  position: relative;
  .adv-item {
    text-align: center;
    .item-title {
      font-size: 24px;
      line-height: 38px;
      color: #35ABD3;
      margin: 35px 0 16px;
    }
    .item-desc {
      font-size: 18px;
      line-height: 1.3;
      color: #5A6F8F;
    }
  }
}
@media (max-width: 1350px) {
  .partners-pt .call-moto {
    width: 250px;
  }
}
@media (max-width: 1199px) {
  #partners-main {
    .main-center {
      font-size: 18px;
      line-height: 26px;
    }
  }
  #partners-adv .adv-item {
    .item-title {
      font-size: 18px;
      line-height: 26px;
    }
    .item-desc {
      font-size: 15px;
    }
  }
}
@media (max-width: 991px) {
  #partners-adv .adv-item {
    margin-bottom: 30px;
  }
  .partners-pt .call-moto {
    display: none;
  }
}
@media (max-width: 574px) {
  #partners-main .main-center {
    font-size: 14px;
    line-height: 23px;
  }
}
@media (min-width: 992px) {
  #partners-main {
    padding-top: 75px;
    .main-center {
      width: 720px;
      margin: auto;
    }
  }
  #partners-adv {
    .adv-item {
      display: flex;
      flex-direction: column;
      height: 270px;
      margin-bottom: 30px;
    }
    .col-lg-3:nth-child(odd) .adv-item {
      justify-content: flex-end;
    }
  }
}