#programs, #programs-all {
  .col {
    flex-basis: 240px;
    flex-grow: 0;
  }
  .program-block {
    display: flex;
    flex-direction: column;
    width: 210px;
    height: 230px;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 10px;
    padding: 35px;
    text-align: center;
    margin-bottom: 25px;
    .block-name {
      font-size: 16px;
      font-family: "Gotham Pro Bold", sans-serif;
      line-height: 21px;
      color: #35ABD3;
    }
    .block-price {
      line-height: 18px;
      color: #5A6F8F;
    }
    &:hover {

    }
  }
}
#programs-all, #trainers-all {
  ._title {
    text-align: left;
  }
  .programs-all-desc, .trainers-all-desc {
    font-size: 16px;
    line-height: 24px;
    color: #5A6F8F;
    margin-top: 25px;
  }
}
#programs-solo {
    ._title {
      text-align: left;
    }
}