#reviews, #reviews-all, #suggest-block {
  position: relative;
  .review-item {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 23px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: all .3s cubic-bezier(0,0,.5,1);
    .item-name {
      display: flex;
      align-items: center;
      span {
        font-size: 24px;
        line-height: 30px;
        font-family: "Gotham Pro Medium", sans-serif;
        margin-left: 25px;
      }
    }
    .item-desc {
      margin-top: 35px;
      margin-bottom: 24px;
      line-height: 21px;
      color: #5A6F8F;
    }
    .item-action {
      display: flex;
      align-items: center;
      text-decoration: none;
      span {
        color: $orange;
        font-family: "Gotham Pro Medium", sans-serif;
        margin-right: 7px;
      }
    }
    &:hover {
      box-shadow: 2px 4px 16px rgba(0,0,0,0.16);
      transform: scale3d(1.01,1.01,1.01);
    }
  }
  .blur-ellipse {
    position: absolute;
    width: 582px;
    height: 582px;
    bottom: -280px;
    left: -349px;
    background: linear-gradient(152.85deg, rgba(203, 226, 255, 0.8) 29.1%, rgba(220, 203, 255, 0.8) 87.49%);
    filter: blur(400px);
    z-index: -10;
  }
}
#reviews-all {
  ._title {
    text-align: left;
  }
  .review-item {
    margin-bottom: 20px;
  }
}
#reviews-solo {
  .object-solo-block {
    .block-img img {
      width: initial;
    }
    .block-text .partner-text {
      display: flex;
      align-items: flex-end;
      font-family: "Gotham Pro Medium", sans-serif;
      margin: 24px 0;
    }
  }
}
@media (max-width: 1199px) {
  #reviews, #reviews-all, #suggest-block {
    .review-item .item-name span {
      font-size: 20px;
      line-height: 26px;
    }
  }
}
@media (max-width: 767px) {
  #reviews-solo, #news-solo {
    .align-items-baseline {
      flex-direction: column;
      ._title {
        margin-bottom: 15px;
      }
      .title-btn {
        margin-left: 0;
        margin-bottom: 30px;
      }
    }
    .object-solo-block .block-text .main-text {
      margin-bottom: 10px;
    }
  }
}